.row-title {
  font-size: 30px;
  font-weight: 700;
  margin: 15px 0px 10px 0px;
}

.full-container {
  padding: 0px 25px 0px 25px !important;
}

.home-row-container {
  padding: 0px 0px 25px 0px;
  border-bottom: 1px solid rgb(218, 210, 210);
}

@media (max-width: 790px) {
  .row-title {
    text-align: center;
  }
}

@media (max-width: 477px) {
  .home-row {
    display: flex;
    justify-content: center;
  }
}
