.postcard-container {
  width: 200px;
  background-color: #19180a;
  border-radius: 20px;
  color: #f8f4e3;
  margin: 10px;
}

.postcard-container:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
  transition: 0.15s;
  cursor: pointer;
}

.postcard-img {
  height: 150px;
  width: 100%;
  border-radius: inherit;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.postcard-content {
  height: 40%;
  width: inherit;
  padding: 20px;
}

.postcard-title {
  font-weight: 800;
  font-size: 14px;
}

.postcard-location {
  font-weight: 300;
  font-size: 12px;
}

.postcard-review {
  font-weight: 300;
  font-size: inherit;
}

.postcard-review-count {
  font-weight: 100;
  opacity: 0.7;
}

.postcard-star {
  width: 12px;
}

@media (max-width: 477px) {
  .postcard-container {
    /* margin: 0px auto; */
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .postcard-container {
    width: 200px;
    font-size: 15px;
  }
  .postcard-title {
    font-size: 17px;
  }
  .postcard-location {
    font-weight: 300;
    font-size: 12px;
  }
  .postcard-review {
    font-weight: 300;
    font-size: 12px;
  }
  .postcard-star {
    width: 15px;
  }
}
