.inner-card {
    height: 300px;
    width: 300px;
    max-width: 400px;
    margin: auto;
    margin-bottom: 20px;
    position: relative;
}

.findr-card {
    height: inherit;
    background-color: white;
    /* Border */
    border-style: solid;
    border-width: 2px;
    border-radius: 20px;
    border-color: white;
    /* Shadows */
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.6);
}

.card-text {
    width: inherit;
    height: inherit;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    font-weight: 800;
    font-size: 50px;
    z-index: 1;
}