.gallery-container{
    width: 100%;
    height: 350px;
}

.image-container{
    height: 350px;
    width: 100%;
    object-fit: cover;
}


.gallery-container-card{
    width: 100%;
    height: 150px;
    border-radius: 20px;

}

.image-container-card {
    height: 150px;
    width: 100%;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
  
}


.carousel-inner{
    border-radius: inherit;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

