.App {
  background-color: #F8F4E3;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.main-container {
  display: flex;
}

.main-menu-container {
  width: 30%;
  height: calc(100vh - 55px);
  /* overflow-y: scroll; */
  z-index: 2;
  box-shadow: 5px 0px 8px 0px #888888;
}

.main-map-container {
  width: 70%;
  height: 100vh;
}

@media (max-width: 1440px){
  .main-map-container{
    width: 60%;
  }
  .main-menu-container{
    width: 40%;
  }
}

@media (max-width: 790px) {
  .App{
    overflow-y: scroll;
  }
  .main-container {
    display: inline;
    height: auto;
  }
  .main-menu-container {
    width: 100%;
    height: inherit;
    box-shadow: none;
  }

  .main-map-container{
    display: none;
  }
}

@media (min-width: 791px) {
  .main-menu-container {
    overflow-y: scroll;
  }
}