html {
  background-color: #f8f4e3;
}

.App {
  background-color: #f8f4e3;

  /* Disable scroll on whole app */
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.main-container {
  display: flex;
}

.home-container {
  width: 100%;

  /* Enable scroll on menu */
  overflow-x: hidden;
  overflow-y: scroll;
  height: calc(100vh - 55px);
}

.main-menu-container {
  width: 30%;

  /* Enable scroll on menu */
  overflow-y: scroll;
  height: calc(100vh - 55px);

  z-index: 2;
  box-shadow: 5px 0px 8px 0px #888888;
}

.main-map-container {
  width: 70%;
  height: 100vh;
}

@media (max-width: 1440px) {
  .main-map-container {
    width: 60%;
  }
  .main-menu-container {
    width: 40%;
  }
}

@media (max-width: 790px) {
  .App {
    /* Not using vh to allow app to scroll */
    /* Take up full size */
    height: 100%;
    width: 100%;
  }
  .main-container {
    /* display: inline; */
  }
  .main-menu-container {
    width: 100%;

    /* Make unscrollable
     since app is now scrollable */
    height: 100%;
    overflow: hidden;
    margin: 0;

    box-shadow: none;
  }
  .main-map-container {
    display: none;
  }
}
