.App {
  background-color: #F8F4E3;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.main-container {
  display: flex;
}

.main-menu-container {
  width: 30%;
  height: 100vh;
  overflow-y: auto;
  z-index: 2;
  box-shadow: 5px 0px 8px 0px #888888;
}

.main-map-container {
  width: 70%;
  height: 100vh;
}

@media (max-width: 1440px){
  .main-map-container{
    width: 60%;
  }
  .main-menu-container{
    width: 40%;
  }
}

@media (max-width: 790px) {
  .main-container {
    display: inline;
  }
  .main-menu-container {
    width: 100%;
    margin-top: 75px;
  }
}
