.create-post-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
}

.create-post-title {
    text-align: center;
    margin: 40px;
    font-weight: 800;
}

.create-post-input-container {
    display: flex;
    flex-direction: column;
    width: 85%;
    margin-bottom: 40px;
}

.user-post-input-container {
    margin-bottom: 20px;
    
}

.user-post-input {
    width: 100%;
    min-height: 45px;
    font-weight: 300;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid transparent;
    background-color: rgba(255, 255, 255, 0.664);
}

.user-post-input:focus {
    outline: 0;
    border: 1px solid grey;
    background-color: white;
}

.user-post-name {}

.user-post-description {
    max-height: 400px;
}

.user-post-description-info-text {

}

.user-post-location {
    /* background-color: rgba(255, 255, 255, 0.24); */
}

.create-post-submit {
    height: 45px;
    margin-top: 80px;
    padding: 5px 10px 5px 10px;
    border-radius: 1em;
    color: white;
    background-color: #FF6629;
    font-weight: 800;
    border: 2px solid transparent;
}

.create-post-submit:hover {
    background-color: #ff4900;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.3);
}

.create-post-submit:focus {
    outline: 0;
}

.form-info {
    color: dimgray;
    font-size: 15px;
}

.error-text {
    margin: 0px 0px 20px 5px;
}