.explore-title {
    text-align: center;
    margin: 60px 40px 10px 40px;
    font-weight: 800;
}

.explore-category-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
}